/Peluqueria-semaforos/nbproject/private/
/Peluqueria-semaforos/build/
/Peluqueria-semaforos/dist/
/Sockets/nbproject/private/
/Sockets/build/
/Sockets-CS/Cliente/nbproject/private/
/Sockets-CS/Cliente/build/