/Peluqueria-semaforos/nbproject/private/
/Peluqueria-semaforos/build/
/Peluqueria-semaforos/dist/
/Sockets/nbproject/private/
/Sockets/build/
/Sockets-CS/Cliente/nbproject/private/
/Sockets-CS/Cliente/build/
/Sockets-CS/Sockets/build/
/LoggerChat-Servidor/nbproject/private/
/LoggerChat-Cliente/nbproject/private/
/Sockets(LoggerChat)/LoggerChat-Cliente/build/
/Sockets(LoggerChat)/LoggerChat-Servidor/build/
/Sockets(LoggerChat)/LoggerChat-Servidor/dist/
/Sockets(LoggerChat)/LoggerChat-Cliente/dist/
/Sockets(Basico)/Cliente/dist/
/testHerencia/nbproject/private/
/testHerencia/build/
/JtablesTest/nbproject/private/
/JtablesTest/build/
/testObjetotoJSON/nbproject/private/
/testObjetotoJSON/build/
/testObjetotoJSON/dist/
/TPA/Ejercicio 1/nbproject/private/
/TPA/matricesSuma/nbproject/private/
/TPA/TPA1/nbproject/private/
/TPA/TPA1/build/
/TPA/TPA1/dist/
/TPA/TPA2/nbproject/private/
/TPA/TPA2/build/
/TPA/TPA3/nbproject/private/
/TPA/TPA3/build/
/TPA/TPA4/nbproject/private/