/Peluqueria-semaforos/nbproject/private/
/Peluqueria-semaforos/build/
/Peluqueria-semaforos/dist/
/Sockets/nbproject/private/
/Sockets/build/
/Sockets-CS/Cliente/nbproject/private/
/Sockets-CS/Cliente/build/
/Sockets-CS/Sockets/build/
/LoggerChat-Servidor/nbproject/private/
/LoggerChat-Cliente/nbproject/private/
/Sockets(LoggerChat)/LoggerChat-Cliente/build/
/Sockets(LoggerChat)/LoggerChat-Servidor/build/
/Sockets(LoggerChat)/LoggerChat-Servidor/dist/
/Sockets(LoggerChat)/LoggerChat-Cliente/dist/